/*I guess something could be done to make it pretty.... screw that.*/

div#display {
    display: block;
    width: 600px:
    margin: 0 auto;
    text-align: center;
}

a#button{
    color: black;
} 
